---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "页面走丢了",
	title: "页面走丢了",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">404 | 页面走丢了</h1>
	<p class="mb-8">用上面的导航回到正轨吧。</p>
</PageLayout>
